.texto-menor {
  font-size: .8125rem;
  margin: 0;
}
.divs-facilidades {
  width: 250px;
}
.btn-destaque {
  background-color: #9353FF;
}
.btn-destaque:hover {
  background-color: rgba(147, 9, 255, 1);
}
.cor-verde {
  color: #DAFF01;
}
.cor-cinza {
  color: #ADB5BD;
  border-color: #ADB5BD;
}
.font-48 {
  font-size: 48px;
}
.font-12 {
  font-size: 12px;
}
.width-form {
  max-width: 729px;
}

input[type="radio"]:focus {
  box-shadow: none;
}
input[type="radio"]:checked {
  background-color: #9353FF !important;
  border-color: #9353FF !important;
}