.texto-menor {
  font-size: .8125rem;
  margin: 0;
}
.divs-facilidades {
  width: 250px;
}
.btn-destaque {
  background-color: #9353FF;
}
.cor-verde {
  color: #DAFF01;
}
.font-48 {
  font-size: 48px;
}
.width-form {
  max-width: 729px;
}